body {
  height: 100%;
}
.bg-image {
    
    background-image: url("station.jpg");
  
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    
    height: 100%;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
* {
    box-sizing: border-box;
  }
.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

#increment-btn{
    border-radius: 12px;
    background-color: rgba(226, 37, 37, 0.659);
    font-weight: bold;
    border: none;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#save-btn{
    border-radius: 12px;
    background-color: rgba(35, 211, 67, 0.659);
    font-weight: bold;
    border: none;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}